body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

:root {
  // Amour Amour + Itmeo Branding
  --blue-grad-3: linear-gradient(-45deg, #f77062, #fe5196, #009efd, #2af598);
  --blue-color-4: #130930;
  --black-color-2: #aaaaaa;
  --black-color-3: #{transparentize(black, 0.3)};
  --black-color-4: rgba(255, 255, 255, 0.5);
  --black-color-5: rgba(255, 255, 255, 0.4);
  --black-color-6: #{transparentize(black, 0.6)};
  --white-color-3: #{transparentize(white, 0.4)};
}

.absolute {
  position: absolute !important;
}

.inline-flex {
  display: inline-flex !important;
}

.text-black-3 {
  color: var(--black-color-3);
}

.bg-blue-grad-3 {
  background: var(--blue-grad-3);
}

.bg-blue-4 {
  background: var(--blue-color-4) !important;
}

.bg-black-2 {
  background: var(--black-color-2) !important;
}

.bg-black-5 {
  background: var(--black-color-5) !important;
}

.bg-black-6 {
  background: var(--black-color-6);
}

.border-0 {
  border-width: 0 !important;
}

.shadow-1 {
  box-shadow: 0 0 2px 2px #{transparentize(white, 0.4)};
}

.glass-1 {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-2 {
  --input-placeholder-color: var(--white-color-3);

  color: white;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px -6px rgba(0, 0, 0, 0.2);
  border: none;

  &.activate {
    &:active {
      background: var(--black-color-4) !important;
    }
  }
}

.mask-arrow {
  mask-image: linear-gradient(black, black),
    url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 1024 1024'%3E%3Cpath d='M648.362667 755.2a42.666667 42.666667 0 0 0 60.330666 0.554667l217.173334-213.333334a42.666667 42.666667 0 0 0 0-60.842666l-217.173334-213.333334a42.666667 42.666667 0 0 0-59.818666 60.842667L791.68 469.333333H128a42.666667 42.666667 0 1 0 0 85.333334h663.68l-142.805333 140.245333a42.666667 42.666667 0 0 0-0.512 60.330667z' %3E%3C/path%3E%3C/svg%3E");
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-position: center;
}

.animated-bg-grad {
  background: var(--blue-grad-3);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-glow {
  text-shadow: 0 0 0.1em, 0 0 0.2em;
}

.bg-glow {
  filter: drop-shadow(0 0 0.1em);
}

.btn {
  cursor: pointer;
}

.form-control {
  --input-padding: 0.375rem 0.375rem 0.375rem 0.5rem;

  font-size: 0.8rem;
  line-height: 1.5;
}

.gg-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
}

.gg-arrow-right::after,
.gg-arrow-right::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 3px;
}

.gg-arrow-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px;
}

.gg-arrow-right::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor;
}

.gg-time {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px currentColor;
}

.gg-time::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  top: 1px;
  left: 5px;
}

.shake-horizontal {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
